{% extends 'layout.html' %}
{% block title %}
جزئیات
{% endblock %}

{% block content %}
<center>
    <table width="50%">
        {% for item in musics %}
            {% if forloop.counter0|divisibleby:"3" %}
                <tr>
            {% endif %}
                <td  width="30%">
                    {% include 'music/components/music_box.html' with music=item %}
                </td>
            {% if forloop.counter|divisibleby:"3" %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</center>
{% endblock %}